About the 'Helloworld.java' file
  # Compiled class file
  HelloWorld.class

  # Log file
  none log

  # Mobile Tools for Java (J2ME)
  none mobile tool

  # Package Files #
  *none package
  
  # virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
  hs_err_pid*

About the 'HelloWolrd.py' file
  # package file #
  NONE PACKAGE
  
  # version used
  python 3.8.3
